.board-details {
  min-height: 100vh;
  padding-top: 45px;
  background-image: url("../assets/images/mountains-bg-lg.jpg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  .taskGroup-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
}
