
.chart{
  background-color: white;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
  /* display: inline-block; */
}

.charts-container {
  font-family: Montserrat-Bold;
  margin: 0 auto;
  margin-top: 1.5rem;
  width:90%;
  h2{
    margin-bottom: 1rem;
  }
}

.doughnut-barchart-wraper{
  justify-content: space-evenly;
}

