.home-page {
  margin-top: 55px;
  justify-self: center;
  align-self: start;
  width: 70%;
  > * {
    position: relative;
    justify-content: center;
    align-items: center;
    height: max-content;
    margin: 50px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    color: white;
    background-color: #505049b5;
    font-size: rem(30px);
    font-family: Montserrat-Bold;
    font-weight: bold;
    letter-spacing: 1.2px;
    transition: all 0.3s;
    cursor: pointer;
    h4 {
      position: absolute;
      top: -45px;
      left: 0;
    }
    &:hover {
      background-color: #505049d2;
    }
  }
  .new-board {
    .new-board-details{
      justify-items: flex-start;
      align-content: flex-start;
    }
  }
}
