// .app-bg{
//   height: 100vh;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
// }

#app {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
