.app-header {
  width: 100%;
  padding: rem(10px);
  position: fixed;
  color: white;
  text-align: center;
  z-index: 10;
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-left-side {
      display: flex;
      :last-child {
        margin-left: 10px;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.1);
          color: darken(#3498db, 8%);
        }
      }
    }
  }
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    > * {
      margin: 0 10px;
    }
    .searchbar-container {
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      border-radius: 3px;
      input {
        background-color: transparent;
        border: 0px;
        &::placeholder {
          font-family: inherit;
          color: rgb(221, 221, 221);
        }
        &:focus {
          color: #fff;
          border: 0px;
          outline: none;
        }
        li {
          font-size: rem(13px);
          display: flex;
          place-items: center;
        }
        .home-icon {
          font-size: 18px;
        }
      }
      .search-icon {
        margin-right: 3px;
        color: #fff;
      }
    }
    .nav-btn {
      cursor: pointer;
      border-radius: 3px;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      background-color: #3498db;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: darken(#3498db, 8%);
      }
    }
  }
}
