.board-options {
  position: fixed;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px 0;
  top: 55px;
  .left-side {
    margin-inline-start: 5px;
    .board-members {
      align-self: center;
      > * {
        margin-inline-start: 5px;
      }
      i {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        color: black;
        border-radius: 3px;
        transition: all 0.3s;
        padding: 2px;
        &:hover {
          cursor: pointer;
          background-color: white;
        }
      }
    }
    span {
      max-width: 100%;
    }
    input {
      background-color: #ffffff52;
      border: none;
      padding: 5px;
      margin: 5px;
      align-self: center;
      height: 35px;
      color: white;
      border-radius: 3px;
      text-align: center;
      font-size: 18px;
      &:focus {
        color: black;
        background-color: white;
      }
      &:hover {
        background-color: #ffffff52;
      }
    }
  }
  .right-side {
    :last-child {
      margin-right: 20px;
    }
    display: flex;
    align-items: center;
    button {
      background-color: #3498db;
      border-radius: 3px;
      border: none;
      outline: none;
      padding: 5px;
      font-family: Montserrat;
      font-size: 16px;
      color: white;
      margin-inline-start: 10px;
      .el-icon-pie-char {
        margin: 0;
      }
    }

    .bgSelector {
      color: black;
      position: absolute;
      top: 10%;
      right: 19%;
      .imgs-container {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        img {
          cursor: pointer;
          width: 120px;
          height: 100px;
        }
      }
    }
  }
}
