.board-options {
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  height: 40px;
  padding: 5px;
  .left-side {
    .board-members {
      align-self: center;
      > * {
        margin-inline-start: 5px;
      }
      i {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        color: black;
        border-radius: 50%;
        transition: all 0.3s;
        &:hover {
          cursor: pointer;
          background-color: white;
        }
      }
    }
    input {
      background-color: #ffffff52;
      border: none;
      padding: 5px;
      margin: 5px;
      align-self: center;
      height: 35px;
      color: white;
      font-family: Montserrat-Bold;
      font-weight: bold;
      border-radius: 3px;
      text-align: center;
      font-size: 18px;
      &:focus {
        color: black;
        background-color: white;
      }
      &:hover {
        background-color: #ffffff52;
      }
    }
  }
  .right-side {
    button {
      background-color: #ffffff52;
      border-radius: 3px;
      border: none;
      outline: none;
      padding: 5px;
      font-family: Montserrat;
      font-size: 18px;
      color: white;
      margin-inline-start: 10px;
    }
    .bgSelector {
      color: black;
      position: absolute;
      top:10%;
      right: 19%;
      .imgs-container {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        img {
        width: 120px;
        height: 100px;
        ;
}
      }
    }
  }
}
