.board-preview{
    width: 150px;
    height: 150px;
    margin: 10px;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    font-size: rem(15px);
    background-color: rgba(255, 255, 255, 0.514);
}