.checklist-wrapper{
    margin-bottom: 15px;
    .checklist-header{
        align-items: center;
        margin-bottom: 10px;
        .checklist-remove-btn{
            margin:0;
            padding:10px;
            background-color: #091e420a;
            border-radius: 0;

        }
    }
    .checklist-progress-bar{
        .el-progress__text {
            margin-left: 18px;
            margin-bottom: 1rem;
        }
    }
    .checklist-container{
        >*{
            margin: 5px 5px 16px 0px;
            font-size: rem(15px);
        }
        .check-item.isDone{
            text-decoration:line-through ;
        }
    }
    .new-item-label{
        margin-left: 10px;
        font-size: rem(15px);
        background-color:#61bd4f;
        width: max-content;
        padding:5px;
        margin-top: 5px;
        margin-left: 0;
        cursor: pointer;
    }
    .add-item{
        input{
            width: 90%;
            height: 30px;
            margin-bottom: 1rem;
        }
        i{
            display: flex;
            align-self: center;
            justify-self: center;
        }
    }
}