.template-container {
  min-height: 250px;
  align-self: flex-start;
  position: relative;
  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }
  .template-header {
    font-size: rem(18px);
    margin: 10px 0;
    font-weight: 600;
  }
  p {
    margin: 0;
  }
  i {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    z-index: 3;
  }
  &:after {
    content: "";
    top: 0;
    position: absolute;
    height: 23px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.384);
  }
}
