.task-details-containers-wraper {
    h5, h6 {
        color:  rgb(168, 168, 168);
    }
    width: 750px;
    height: 90vh;
    background-color:white;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%);
    font-size: 1.2rem;
    margin-top: 5rem;
    margin-bottom: 3.75rem;
    z-index: 999;
    .close-modal-btn{
        position: absolute;
        top: 0;
        right: 6px;
        border: none;
        background-color: transparent;
        font-weight: bold;
    }
}

.task-details-main-container {
    display: grid;
    margin-top:10px;
    grid-template-columns: 0.8fr 0.2fr;
    grid-template-rows: 1fr;
    padding:rem(20px);
    button {
        border: none;
        margin: 10px;
        text-align: left;
        height: 1.8rem;
        border-radius: 5px;
    }
    .task-left-container {
        display: grid;
        grid-template-rows: 0.1fr 0.3fr 0.3fr 0.3fr;
        grid-gap:5px;
        .task-details-titles-container{
            .task-group-name{
                span{
                    text-decoration: underline;
                }
            }
        }
        .task-members-labels-container{
            >h6{
                display: inline;
            }
        }
        .task-desc-container{
            .desc-textarea{
                width: 95%;
                border: none;
                padding: 5px 5px 5px 6px;
                font-size: 14px;
                font-family: Montserrat;
                color:black;
                margin-left: 20px;
                &.edit{
                    border: 2px solid #172b4d;
                  }
            }
            }
        }
        .task-right-container {
            button{
                border: none;
                border-radius: 5px;
            }
        }     
}




.task-activities{
    button{
        margin-top: 0;
    }
}