@font-face {
  font-family: Montserrat;
  src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(~@/assets/fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: MontserratSubrayada-Bold;
  src: url(~@/assets/fonts/Montserrat/MontserratSubrayada-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Consolas-Bold;
  src: url(~@/assets/fonts//Consolas/consolaz.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Pacifico;
  src: url(~@/assets/fonts//Pacifico/Pacifico-Regular.ttf);
}
@font-face {
  font-family: Gochi;
  src: url(~@/assets/fonts/GochiHand/GochiHand-Regular.ttf);
}
