// COLOR PALETTE

$clr1: #5b054c;
$clr2: #f9a31a;
$clr3: #15ace3;
$clr4: #b3d34c;
$clr5: #f7d20e;
$task-group-color: #ebecf0;
$icon-color: #7a8598;
$task-title-color: #172b4d;
$faded-cta-color: #5e6c84;
$btn-primary-color: #27ae60;

// LAYOUT BREAKPOINTS

$break-extra-small: 380px;
$break-narrow: 500px;
$break-mobile-normal: 600px;
$break-normal: 700px;
$break-tablet: 800px;
$break-wide: 960px;
