.task-group {
  background-color: #ebecf0;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 10px;
  & > * {
    cursor: pointer;
  }
  .task-group-container {
    margin: 10px;
    .task-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg);
    }
    .task-ghost-drop {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
    }
    .task-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }
    
  }
  .task-icon {
    color: $icon-color;
  }
  .task-group-title-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 0 rem(10px);
    .task-group-title {
      cursor: pointer;

      font-family: inherit;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: rem(14px);
      font-weight: 600;
      color: $task-title-color;
      text-align: left;
    }
  }
}
